src/main/webapp/WEB-INF/accordi/EsitoElaborazione.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:s1="http://esitoelaborazione.messages.webservices.csp.mef.it"
	xmlns:tns="http://webservices.csp.eng.it" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	targetNamespace="http://webservices.csp.eng.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
	<types>
		<s2:schema xmlns:s2="http://www.w3.org/2001/XMLSchema"
			xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservices.csp.eng.it"
			xmlns:intf="http://webservices.csp.eng.it" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://esitoelaborazione.messages.webservices.csp.mef.it"
			xmlns:s3="http://webservices.csp.eng.it" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:s5="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns2="http://esitoelaborazione.messages.webservices.csp.mef.it"
			xmlns:tns3="http://messages.webservices.csp.mef.it" xmlns:tns4="http://dto.webservices.csp.mef.it"
			xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://messages.webservices.csp.mef.it">
			<s2:import namespace="http://dto.webservices.csp.mef.it" />
			<s2:complexType name="GenericTicketInMessage">
				<s2:complexContent>
					<s2:extension base="tns3:GenericInMessage">
						<s2:sequence>
							<s2:element name="ticket" nillable="true" type="tns4:Ticket" />
						</s2:sequence>
					</s2:extension>
				</s2:complexContent>
			</s2:complexType>
			<s2:complexType name="GenericInMessage">
				<s2:sequence />
			</s2:complexType>
			<s2:complexType name="GenericOutMessage">
				<s2:sequence>
					<s2:element name="esitoOperazione" nillable="true"
						type="tns4:EsitoOperazione" />
				</s2:sequence>
			</s2:complexType>
		</s2:schema>
		<s2:schema xmlns:s2="http://www.w3.org/2001/XMLSchema"
			xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservices.csp.eng.it"
			xmlns:intf="http://webservices.csp.eng.it" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://esitoelaborazione.messages.webservices.csp.mef.it"
			xmlns:s3="http://webservices.csp.eng.it" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:s5="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns2="http://esitoelaborazione.messages.webservices.csp.mef.it"
			xmlns:tns3="http://messages.webservices.csp.mef.it" xmlns:tns4="http://dto.webservices.csp.mef.it"
			xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dto.webservices.csp.mef.it">
			<s2:complexType name="Ticket">
				<s2:sequence>
					<s2:element name="dataAssegnazione" nillable="true"
						type="xsd:dateTime" />
					<s2:element name="dataFineTrasmissione" nillable="true"
						type="xsd:dateTime" />
					<s2:element name="fileRicevuto" type="xsd:boolean" />
					<s2:element name="idAmministrazione" nillable="true"
						type="xsd:string" />
					<s2:element name="idSistema" type="xsd:int" />
					<s2:element name="idTicket" type="xsd:long" />
				</s2:sequence>
			</s2:complexType>
			<s2:complexType name="EsitoOperazione">
				<s2:sequence>
					<s2:element name="codiceEsito" type="xsd:int" />
					<s2:element name="descrizioneEsito" nillable="true"
						type="xsd:string" />
					<s2:element name="dettaglio" nillable="true" type="xsd:string" />
					<s2:element name="timeStamp" nillable="true" type="xsd:dateTime" />
				</s2:sequence>
			</s2:complexType>
		</s2:schema>
		<s2:schema xmlns:s2="http://www.w3.org/2001/XMLSchema"
			xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservices.csp.eng.it"
			xmlns:intf="http://webservices.csp.eng.it" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:s0="http://schemas.xmlsoap.org/wsdl/" xmlns:s1="http://esitoelaborazione.messages.webservices.csp.mef.it"
			xmlns:s3="http://webservices.csp.eng.it" xmlns:s4="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:s5="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns2="http://esitoelaborazione.messages.webservices.csp.mef.it"
			xmlns:tns3="http://messages.webservices.csp.mef.it" xmlns:tns4="http://dto.webservices.csp.mef.it"
			xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://esitoelaborazione.messages.webservices.csp.mef.it">
			<s2:import namespace="http://messages.webservices.csp.mef.it" />
			<s2:complexType name="StatisticheElaborazioniInAsAttachments">
				<s2:complexContent>
					<s2:extension base="tns3:GenericTicketInMessage">
						<s2:sequence />
					</s2:extension>
				</s2:complexContent>
			</s2:complexType>
			<s2:element name="StatisticheElaborazioniInAsAttachments"
				nillable="true" type="tns2:StatisticheElaborazioniInAsAttachments" />
			<s2:complexType name="StatisticheElaborazioniOutAsAttachment">
				<s2:complexContent>
					<s2:extension base="tns3:GenericOutMessage">
						<s2:sequence />
					</s2:extension>
				</s2:complexContent>
			</s2:complexType>
			<s2:element name="StatisticheElaborazioniOutAsAttachment"
				nillable="true" type="tns2:StatisticheElaborazioniOutAsAttachment" />
			<s2:complexType name="EsitoAnagraficaRiferimentoIn">
				<s2:complexContent>
					<s2:extension base="tns3:GenericTicketInMessage">
						<s2:sequence />
					</s2:extension>
				</s2:complexContent>
			</s2:complexType>
			<s2:element name="EsitoAnagraficaRiferimentoIn" nillable="true"
				type="tns2:EsitoAnagraficaRiferimentoIn" />
			<s2:complexType name="EsitoAnagraficaRiferimentoOut">
				<s2:complexContent>
					<s2:extension base="tns3:GenericOutMessage">
						<s2:sequence />
					</s2:extension>
				</s2:complexContent>
			</s2:complexType>
			<s2:element name="EsitoAnagraficaRiferimentoOut" nillable="true"
				type="tns2:EsitoAnagraficaRiferimentoOut" />
			<s2:complexType name="LogErroriIn">
				<s2:complexContent>
					<s2:extension base="tns3:GenericTicketInMessage">
						<s2:sequence />
					</s2:extension>
				</s2:complexContent>
			</s2:complexType>
			<s2:element name="LogErroriIn" nillable="true" type="tns2:LogErroriIn" />
			<s2:complexType name="LogErroriOut">
				<s2:complexContent>
					<s2:extension base="tns3:GenericOutMessage">
						<s2:sequence />
					</s2:extension>
				</s2:complexContent>
			</s2:complexType>
			<s2:element name="LogErroriOut" nillable="true"
				type="tns2:LogErroriOut" />
			<s2:complexType name="StatisticheScartiInAsAttachment">
				<s2:complexContent>
					<s2:extension base="tns3:GenericTicketInMessage">
						<s2:sequence />
					</s2:extension>
				</s2:complexContent>
			</s2:complexType>
			<s2:element name="StatisticheScartiInAsAttachment"
				nillable="true" type="tns2:StatisticheScartiInAsAttachment" />
			<s2:complexType name="StatisticheScartiOutAsAttachment">
				<s2:complexContent>
					<s2:extension base="tns3:GenericOutMessage">
						<s2:sequence />
					</s2:extension>
				</s2:complexContent>
			</s2:complexType>
			<s2:element name="StatisticheScartiOutAsAttachment"
				nillable="true" type="tns2:StatisticheScartiOutAsAttachment" />
			<s2:complexType name="Content">
				<s2:attribute name="href" type="xsd:anyURI" />
			</s2:complexType>
		</s2:schema>
	</types>
	<message name="esitoAnagraficaRiferimentoRequest">
		<part name="inMessage" type="s1:EsitoAnagraficaRiferimentoIn" />
		<part name="content" type="xsd:base64Binary" />
	</message>
	<message name="statisticheScartiAsAttachmentRequest">
		<part name="inMessage" type="s1:StatisticheScartiInAsAttachment" />
		<part name="content" type="xsd:base64Binary" />
	</message>
	<message name="esitoAnagraficaRiferimentoResponse">
		<part name="esitoAnagraficaRiferimentoReturn" type="s1:EsitoAnagraficaRiferimentoOut" />
		<part name="content" type="xsd:base64Binary" />
	</message>
	<message name="logErroriResponse">
		<part name="logErroriReturn" type="s1:LogErroriOut" />
		<part name="content" type="xsd:base64Binary" />
	</message>
	<message name="statisticheElaborazioniAsAttachmentResponse">
		<part name="statisticheElaborazioniAsAttachmentReturn" type="s1:StatisticheElaborazioniOutAsAttachment" />
		<part name="content" type="xsd:base64Binary" />
	</message>
	<message name="logErroriRequest">
		<part name="inMessage" type="s1:LogErroriIn" />
		<part name="content" type="xsd:base64Binary" />
	</message>
	<message name="statisticheElaborazioniAsAttachmentRequest">
		<part name="inMessage" type="s1:StatisticheElaborazioniInAsAttachments" />
		<part name="content" type="xsd:base64Binary" />
	</message>
	<message name="statisticheScartiAsAttachmentResponse">
		<part name="statisticheScartiAsAttachmentReturn" type="s1:StatisticheScartiOutAsAttachment" />
		<part name="content" type="xsd:base64Binary" />
	</message>
	<portType name="EsitoElaborazione">
		<operation name="statisticheElaborazioniAsAttachment">
			<input message="tns:statisticheElaborazioniAsAttachmentRequest"
				name="statisticheElaborazioniAsAttachmentRequest" />
			<output message="tns:statisticheElaborazioniAsAttachmentResponse"
				name="statisticheElaborazioniAsAttachmentResponse" />
		</operation>
		<operation name="esitoAnagraficaRiferimento">
			<input message="tns:esitoAnagraficaRiferimentoRequest" name="esitoAnagraficaRiferimentoRequest" />
			<output message="tns:esitoAnagraficaRiferimentoResponse" name="esitoAnagraficaRiferimentoResponse" />
		</operation>
		<operation name="logErrori">
			<input message="tns:logErroriRequest" name="logErroriRequest" />
			<output message="tns:logErroriResponse" name="logErroriResponse" />
		</operation>
		<operation name="statisticheScartiAsAttachment">
			<input message="tns:statisticheScartiAsAttachmentRequest" name="statisticheScartiAsAttachmentRequest" />
			<output message="tns:statisticheScartiAsAttachmentResponse"
				name="statisticheScartiAsAttachmentResponse" />
		</operation>
	</portType>

	<binding name="EsitoElaborazioneSoapBinding" type="tns:EsitoElaborazione">
		<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" wsdl:required="false" />
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="statisticheElaborazioniAsAttachment">
			<soap:operation soapAction="statisticheElaborazioniAsAttachment" />
			<input name="statisticheElaborazioniAsAttachmentRequest">
				<mime:multipartRelated>
					<mime:part>
						<soap:body namespace="http://webservices.csp.eng.it"
							use="literal" />
					</mime:part>
					<mime:part>
						<mime:content part="content" type="application/zip" />
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output name="statisticheElaborazioniAsAttachmentResponse">
				<mime:multipartRelated>
					<mime:part>
						<soap:body namespace="http://webservices.csp.eng.it"
							use="literal" />
					</mime:part>
					<mime:part>
						<mime:content part="content" type="application/zip" />
					</mime:part>
				</mime:multipartRelated>
			</output>
		</operation>
		<operation name="esitoAnagraficaRiferimento">
			<soap:operation soapAction="esitoAnagraficaRiferimento" />
			<input name="esitoAnagraficaRiferimentoRequest">
				<mime:multipartRelated>
					<mime:part>
						<soap:body namespace="http://webservices.csp.eng.it"
							use="literal" />
					</mime:part>
					<mime:part>
						<mime:content part="content" type="application/zip" />
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output name="esitoAnagraficaRiferimentoResponse">
				<mime:multipartRelated>
					<mime:part>
						<soap:body namespace="http://webservices.csp.eng.it"
							use="literal" />
					</mime:part>
					<mime:part>
						<mime:content part="content" type="application/zip" />
					</mime:part>
				</mime:multipartRelated>
			</output>
		</operation>
		<operation name="logErrori">
			<soap:operation soapAction="logErrori" />
			<input name="logErroriRequest">
				<mime:multipartRelated>
					<mime:part>
						<soap:body namespace="http://webservices.csp.eng.it"
							use="literal" />
					</mime:part>
					<mime:part>
						<mime:content part="content" type="application/zip" />
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output name="logErroriResponse">
				<mime:multipartRelated>
					<mime:part>
						<soap:body namespace="http://webservices.csp.eng.it"
							use="literal" />
					</mime:part>
					<mime:part>
						<mime:content part="content" type="application/zip" />
					</mime:part>
				</mime:multipartRelated>
			</output>
		</operation>
		<operation name="statisticheScartiAsAttachment">
			<soap:operation soapAction="statisticheScartiAsAttachment" />
			<input name="statisticheScartiAsAttachmentRequest">
				<mime:multipartRelated>
					<mime:part>
						<soap:body namespace="http://webservices.csp.eng.it"
							use="literal" />
					</mime:part>
					<mime:part>
						<mime:content part="content" type="application/zip" />
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output name="statisticheScartiAsAttachmentResponse">
				<mime:multipartRelated>
					<mime:part>
						<soap:body namespace="http://webservices.csp.eng.it"
							use="literal" />
					</mime:part>
					<mime:part>
						<mime:content part="content" type="application/zip" />
					</mime:part>
				</mime:multipartRelated>
			</output>
		</operation>
	</binding>
	<service name="EsitoElaborazioneSoapBindingQSService">
		<port binding="tns:EsitoElaborazioneSoapBinding" name="EsitoElaborazioneSoapBindingQSPort">
			<soap:address
				location="https://MinisteroEconomiaFinanze.spcoop.gov.it/openspcoop/PA/MEF/IGRUE_COLLOQUIOSISTEMILOCALI_ESITOELABORAZIONE_1" />
		</port>
	</service>
</definitions>