src/main/webapp/WEB-INF/accordi/GestioneEventi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:s1="http://gestioneeventi.messages.webservices.csp.mef.it"
	xmlns:s2="http://webservices.csp.eng.it" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/"
	targetNamespace="http://webservices.csp.eng.it">

	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservices.csp.eng.it"
			xmlns:intf="http://webservices.csp.eng.it" xmlns:s0="http://schemas.xmlsoap.org/wsdl/"
			xmlns:s1="http://gestioneeventi.messages.webservices.csp.mef.it"
			xmlns:s2="http://webservices.csp.eng.it" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:tns2="http://gestioneeventi.messages.webservices.csp.mef.it"
			xmlns:tns3="http://messages.webservices.csp.mef.it" xmlns:tns4="http://dto.webservices.csp.mef.it"
			xmlns:tns5="http://event.system.mef.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" targetNamespace="http://messages.webservices.csp.mef.it">
			<xsd:import namespace="http://dto.webservices.csp.mef.it" />
			<xsd:complexType name="GenericInMessage">
				<xsd:sequence>
					<xsd:element name="credenziali" nillable="true"
						type="tns4:Credenziali" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="GenericOutMessage">
				<xsd:sequence>
					<xsd:element name="esitoOperazione" nillable="true"
						type="tns4:EsitoOperazione" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservices.csp.eng.it"
			xmlns:intf="http://webservices.csp.eng.it" xmlns:s0="http://schemas.xmlsoap.org/wsdl/"
			xmlns:s1="http://gestioneeventi.messages.webservices.csp.mef.it"
			xmlns:s2="http://webservices.csp.eng.it" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:tns2="http://gestioneeventi.messages.webservices.csp.mef.it"
			xmlns:tns3="http://messages.webservices.csp.mef.it" xmlns:tns4="http://dto.webservices.csp.mef.it"
			xmlns:tns5="http://event.system.mef.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" targetNamespace="http://dto.webservices.csp.mef.it">
			<xsd:import namespace="http://webservices.csp.eng.it" />
			<xsd:import namespace="http://event.system.mef.it" />
			<xsd:complexType name="Credenziali">
				<xsd:sequence>
					<xsd:element name="idAmministrazione" nillable="true"
						type="xsd:string" />
					<xsd:element name="idSistema" type="xsd:int" />
					<xsd:element name="password" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="EsitoOperazione">
				<xsd:sequence>
					<xsd:element name="codiceEsito" type="xsd:int" />
					<xsd:element name="descrizioneEsito" nillable="true"
						type="xsd:string" />
					<xsd:element name="dettaglio" nillable="true" type="xsd:string" />
					<xsd:element name="timeStamp" nillable="true" type="xsd:dateTime" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="EventWS">
				<xsd:sequence>
					<xsd:element name="endDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="eventType" nillable="true" type="tns5:EventType" />
					<xsd:element name="id" type="xsd:long" />
					<xsd:element name="owner" nillable="true" type="tns5:Owner" />
					<xsd:element name="parameterId" nillable="true" type="xsd:string" />
					<xsd:element name="properties" nillable="true"
						type="impl:ArrayOf_tns4_nillable_Property" />
					<xsd:element name="reason" nillable="true" type="xsd:string" />
					<xsd:element name="startDate" nillable="true" type="xsd:dateTime" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Property">
				<xsd:sequence>
					<xsd:element name="key" nillable="true" type="xsd:string" />
					<xsd:element name="value" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservices.csp.eng.it"
			xmlns:intf="http://webservices.csp.eng.it" xmlns:s0="http://schemas.xmlsoap.org/wsdl/"
			xmlns:s1="http://gestioneeventi.messages.webservices.csp.mef.it"
			xmlns:s2="http://webservices.csp.eng.it" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:tns2="http://gestioneeventi.messages.webservices.csp.mef.it"
			xmlns:tns3="http://messages.webservices.csp.mef.it" xmlns:tns4="http://dto.webservices.csp.mef.it"
			xmlns:tns5="http://event.system.mef.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" targetNamespace="http://event.system.mef.it">
			<xsd:complexType name="EventType">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:int" />
					<xsd:element name="description" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="Owner">
				<xsd:sequence>
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="idAmministrazione" nillable="true"
						type="xsd:string" />
					<xsd:element name="idSistema" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservices.csp.eng.it"
			xmlns:intf="http://webservices.csp.eng.it" xmlns:s0="http://schemas.xmlsoap.org/wsdl/"
			xmlns:s1="http://gestioneeventi.messages.webservices.csp.mef.it"
			xmlns:s2="http://webservices.csp.eng.it" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:tns2="http://gestioneeventi.messages.webservices.csp.mef.it"
			xmlns:tns3="http://messages.webservices.csp.mef.it" xmlns:tns4="http://dto.webservices.csp.mef.it"
			xmlns:tns5="http://event.system.mef.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" targetNamespace="http://webservices.csp.eng.it">
			<xsd:import namespace="http://dto.webservices.csp.mef.it" />
			<xsd:import namespace="http://event.system.mef.it" />
			<xsd:complexType name="ArrayOf_tns5_nillable_EventType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="EventType" nillable="true" type="tns5:EventType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOf_tns4_nillable_Property">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Property"
						nillable="true" type="tns4:Property" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOf_tns4_nillable_EventWS">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="EventWS"
						nillable="true" type="tns4:EventWS" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOf_xsd_long">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="long"
						type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOf_xsd_boolean">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="boolean"
						type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservices.csp.eng.it"
			xmlns:intf="http://webservices.csp.eng.it" xmlns:s0="http://schemas.xmlsoap.org/wsdl/"
			xmlns:s1="http://gestioneeventi.messages.webservices.csp.mef.it"
			xmlns:s2="http://webservices.csp.eng.it" xmlns:s3="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:tns2="http://gestioneeventi.messages.webservices.csp.mef.it"
			xmlns:tns3="http://messages.webservices.csp.mef.it" xmlns:tns4="http://dto.webservices.csp.mef.it"
			xmlns:tns5="http://event.system.mef.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" targetNamespace="http://gestioneeventi.messages.webservices.csp.mef.it">
			<xsd:import namespace="http://webservices.csp.eng.it" />
			<xsd:import namespace="http://messages.webservices.csp.mef.it" />
			<xsd:complexType name="ListaTipiIn">
				<xsd:complexContent>
					<xsd:extension base="tns3:GenericInMessage">
						<xsd:sequence />
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="ListaTipiIn" nillable="true"
				type="tns2:ListaTipiIn" />
			<xsd:complexType name="ListaTipiOut">
				<xsd:complexContent>
					<xsd:extension base="tns3:GenericOutMessage">
						<xsd:sequence>
							<xsd:element name="tipiEvento" nillable="true"
								type="impl:ArrayOf_tns5_nillable_EventType" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="ListaTipiOut" nillable="true"
				type="tns2:ListaTipiOut" />
			<xsd:complexType name="ListaIn">
				<xsd:complexContent>
					<xsd:extension base="tns3:GenericInMessage">
						<xsd:sequence>
							<xsd:element name="parameterId" nillable="true" type="xsd:string" />
							<xsd:element name="listGenericEvents" type="xsd:boolean" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="ListaIn" nillable="true" type="tns2:ListaIn" />
			<xsd:complexType name="ListaOut">
				<xsd:complexContent>
					<xsd:extension base="tns3:GenericOutMessage">
						<xsd:sequence>
							<xsd:element name="eventi" nillable="true"
								type="impl:ArrayOf_tns4_nillable_EventWS" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="ListaOut" nillable="true" type="tns2:ListaOut" />
			<xsd:complexType name="CancellaIn">
				<xsd:complexContent>
					<xsd:extension base="tns3:GenericInMessage">
						<xsd:sequence>
							<xsd:element name="eventIds" nillable="true"
								type="impl:ArrayOf_xsd_long" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="CancellaIn" nillable="true" type="tns2:CancellaIn" />
			<xsd:complexType name="CancellaOut">
				<xsd:complexContent>
					<xsd:extension base="tns3:GenericOutMessage">
						<xsd:sequence>
							<xsd:element name="deleted" nillable="true"
								type="impl:ArrayOf_xsd_boolean" />
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:element name="CancellaOut" nillable="true"
				type="tns2:CancellaOut" />
		</xsd:schema>
	</types>
	<message name="listaTipiResponse">
		<part name="listaTipiReturn" type="s1:ListaTipiOut" />
	</message>
	<message name="listaRequest">
		<part name="inMessage" type="s1:ListaIn" />
	</message>
	<message name="cancellaRequest">
		<part name="inMessage" type="s1:CancellaIn" />
	</message>
	<message name="listaTipiRequest">
		<part name="inMessage" type="s1:ListaTipiIn" />
	</message>
	<message name="cancellaResponse">
		<part name="cancellaReturn" type="s1:CancellaOut" />
	</message>
	<message name="listaResponse">
		<part name="listaReturn" type="s1:ListaOut" />
	</message>
	<portType name="GestioneEventi">
		<operation name="listaTipi" parameterOrder="inMessage">
			<input message="s2:listaTipiRequest" name="listaTipiRequest" />
			<output message="s2:listaTipiResponse" name="listaTipiResponse" />
		</operation>
		<operation name="lista" parameterOrder="inMessage">
			<input message="s2:listaRequest" name="listaRequest" />
			<output message="s2:listaResponse" name="listaResponse" />
		</operation>
		<operation name="cancella" parameterOrder="inMessage">
			<input message="s2:cancellaRequest" name="cancellaRequest" />
			<output message="s2:cancellaResponse" name="cancellaResponse" />
		</operation>
	</portType>
	<binding name="GestioneEventiSoapBinding" type="s2:GestioneEventi">
		<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" wsdl:required="false" />
		<s3:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="listaTipi">
			<s3:operation soapAction="listaTipi" />
			<input name="listaTipiRequest">
				<s3:body namespace="http://webservices.csp.eng.it" use="literal" />
			</input>
			<output name="listaTipiResponse">
				<s3:body namespace="http://webservices.csp.eng.it" use="literal" />
			</output>
		</operation>
		<operation name="lista">
			<s3:operation soapAction="lista" />
			<input name="listaRequest">
				<s3:body namespace="http://webservices.csp.eng.it" use="literal" />
			</input>
			<output name="listaResponse">
				<s3:body namespace="http://webservices.csp.eng.it" use="literal" />
			</output>
		</operation>
		<operation name="cancella">
			<s3:operation soapAction="cancella" />
			<input name="cancellaRequest">
				<s3:body namespace="http://webservices.csp.eng.it" use="literal" />
			</input>
			<output name="cancellaResponse">
				<s3:body namespace="http://webservices.csp.eng.it" use="literal" />
			</output>
		</operation>
	</binding>
	<service name="GestioneEventiSoapBindingQSService">
		<port binding="s2:GestioneEventiSoapBinding" name="GestioneEventiSoapBindingQSPort">
			<s3:address
				location="https://ministeroeconomiafinanze.spcoop.gov.it/openspcoop/PA/MEF/IGRUE_COLLOQUIOSISTEMILOCALI_GESTIONEEVENTI_1" />
		</port>
	</service>
</definitions>